<%- include('header'); -%>

<div class="box" id="heading">
  <h1>It's a <%= renderday%></h1>
</div>
<div class="box">

  <%  item.forEach((items)=>{ %>
  <div class="item">
    <input type="checkbox">
    <p><%= items.name %></p>
  </div>
  <%  }) %>


  <form class="item" action="/" method="post">
    <input name="listitem" id="List" type="text" placeholder="Add Items" autocomplete="off" />
    <button type="submit" name="button" value="<%= renderday%>">+</button>
  </form>
</div>
<%- include('footer'); -%>